VE = VectorElement("Lagrange", ${cell}, ${vdegree})
PE = FiniteElement("Lagrange", ${cell}, ${pdegree})

q  = TestFunction(PE)
p  = TrialFunction(PE)
vi = Coefficient(VE)

F = q*p*dx - q*div(vi)*dx

a = lhs(F)
L = rhs(F)
